<% const { field: itemField, text } = item %>

<li class="item <%= itemField === curField ? 'cur' : '' %>" data-field="<%= itemField %>">
  <%= text %>

  <span class="count <%= fieldTotal ? '' : 'hide' %>">
    (<%= fieldTotal ? fieldTotal : 0 %>)
  </span>
</li>
