<% const { field, text } = item %>

<li class="item <%= curIdx === idx ? 'cur' : '' %>" data-field="<%= field %>">
  <%= text %>

  <span class="count <%= count ? '' : 'hide' %>">
    (<%= count ? count : 0 %>)
  </span>
</li>
