<div class="container">

  <% const { total } = data %>

  <%- include('common/header/index') %>

  <%- include('common/top', { className: '' }) %>

  <%- include('common/nav/index', { NAV, field }) %>

  <div class="content-wrap">

    <%- include('common/no-data-tip', { total, kw: field }) %>
    <%- include('common/not-found', { total, kw: field }) %>

    <% if (field === 'movie' || field === 'bangumi') { %>
      <%- include('common/board/index', {
        data,
        title: '',
        field: '',
        type: 'item-four',
        icon: '',
        isUpShow: field === 'promote'
      }) %>

    <% } else if (field === 'e_sports') { %>
      <%- include('common/board/index', {
        data,
        title: '',
        field: '',
        type: 'item-three',
        icon: '',
        isUpShow: field === 'promote'
      }) %>

    <% } else if (field === 'live') { %>
      <%- include('common/board/index', {
        data,
        title: '',
        field: '',
        type: 'item-two',
        icon: '',
        isUpShow: field === 'promote'
      }) %>

    <% } else { %>
    <%- include('common/board/index', {
      data,
      title: '',
      field: '',
      type: 'item-one',
      icon: '',
      isUpShow: field === 'promote'
    }) %>
    <% } %>
  </div>

  <%- include('common/pagination', { total }) %>

  <%- include('common/loading') %>

  <%- include('common/footer') %>
</div>
