<div class="container">

  <% const { total } = data %>

  <%- include('common/top', { className: 'query' })  %>

  <div class="content-wrap query">

    <%- include('common/search') %>

    <%- include('common/nav/index', { NAV, field }) %>

    <%- include('common/no-data-tip', { total, kw }) %>
    <%- include('common/not-found', { total, kw }) %>

    <%- include('common/board/index', {
      data,
      title: '',
      field,
    }) %>

  </div>

  <%- include('common/pagination', { total }) %>

  <%- include('common/loading') %>

  <%- include('common/footer') %>
</div>

<div style="display: none;" id="J_query-data">
  <%= JSON.stringify(data) %>
</div>
