<div class="board">

  <% if (title) { %>
  <%- include('title', { title, field }) %>
  <% } %>

  <ul class="list clearfix J_board-list <%= data.length > 0 ? '' : 'hide' %>">
    <% data.forEach(item => { %>

    <% const isUpShow = item.field === 'promote' %>

    <% if (field === 'cinema' || field === 'bangumi') { %>
    <%- include('item-four', { item, isUpShow: false }) %>

    <% } else if (field === 'e_sports') { %>
    <%- include('item-three', { item, isUpShow: false }) %>

    <% } else if (field === 'live') { %>
    <%- include('item-two', { item, isUpShow: false }) %>

    <% } else { %>
    <%- include('item-one', { item, isUpShow: false }) %>
    <% } %>

    <% }) %>

  </ul>

</div>
