<li class="item item-four">
  <% const { href, popup_count, fav_count, play_count, title, img, latest_tip, tags = '' } = item %>

  <a href="<%= href %>" target="_blank" class="lk">
    <div class="img-wrap">
      <img height="100%" data-src="<%= img %>" src="/imgs/lazy.gif" alt="图片" />
    </div>

    <div class="info">
      <h3 class="title"><%= title %> </h3>

      <p class="tip"><%= latest_tip %></p>

      <p class="play-count count">
        <i class="iconfont icon-play"></i>
        <span><%= play_count %></span>
      </p>

      <p class="fav-count count">
        <i class="iconfont icon-shoucang"></i>
        <span><%= fav_count %></span>
      </p>

      <p class="popup-count count">
        <i class="iconfont icon-danmu"></i>
        <span><%= popup_count %></span>
      </p>

      <p class="tags"><%= tags && tags.join('、') %></p>
    </div>
  </a>
</li>
