<li class="item item-two">

  <% const { href, img, title, up_href, up_name, count, up_img, tag } = item %>

  <div class="cell">
    <a href="<%= href %>" target="_blank" class="img-wrap">
      <img height="100%" data-src="<%= img %>" src="/imgs/lazy.gif" alt="封面" />

      <div class="count-wrap">
        <i class="iconfont icon-people"></i>

        <span class="count"><%= count %> </span>
      </div>
    </a>
  </div>

  <div class="info">
    <div class="img-wrap">
      <img data-src="<%= up_img %>" src="/imgs/lazy.gif" alt="up头像" />
    </div>

    <div class="intro">
      <a href="<%= up_href %>" class="up-name">
        <%= up_name %>
      </a>

      <a href="<%= href %>" target="_blank" class="title">
        <%= title %>
      </a>

      <p class="tag"><%= tag %> </p>
    </div>

  </div>
</li>
