<h1 class="title <%= title ? '' : 'hide' %> ">
  <i class="iconfont icon icon-<%= field %> "></i>
  <%= title %>

  <a href="/list/<%= field %> " target="_blank" class="more <%= field ? '' : 'hide' %> ">
    <span>更多</span>

    <i class="iconfont icon icon-more"></i>
  </a>
</h1>
